<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="/email.js"></script>
	</head>
	<body>
		<img src = "https://colinbendell.cloudinary.com/image/upload/c_crop,f_auto,g_auto,h_350,w_400/v1512090971/Wizard-Clap-by-Markus-Magnusson.gif" />
		<form>
			<input type="text" id="email_input" placeholder="Enter Email for Notifications" required />
			<button id = "email_submit">Submit</button>
		</form>
	</body>
</html>