<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/email.js"></script>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  </head>
  <body>
    <div class = "content">
      <!--<img src="http://i.stack.imgur.com/SBv4T.gif" title="this slowpoke moves" class = "center"/>
      <img src = "https://colinbendell.cloudinary.com/image/upload/c_crop,f_auto,g_auto,h_350,w_400/v1512090971/Wizard-Clap-by-Markus-Magnusson.gif" /> -->
      <img src="/logo.png" class = "center"/>
      <h2 align= "center" class="info" style = "color:white; font-style: bold;">January 11-13, 2019 </h2> 
       <h3 align= "center" class="info" style = "color:white">Corwin Pavilion</h2> 
      
  		<form class = "flex-container">
  			<input id="email_input" class = "input-line" type = "email" placeholder="Enter Email for Notifications..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email for Notifications...'" required />
  			<button class='submit' id = "email_submit" type = "submit" value = "submit" >Submit</button>
          </form>
    </div>
    </body>
    <script>
      function printSubmitted()
      {
        this.placeholder = "Added email to mailing list!";
        setTimeout(function(){ this.placeholder = ("Enter Email for Notifications..."); }, 1500);
      }
    </script>
</html>
