<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img src="http://i.stack.imgur.com/SBv4T.gif" title="this slowpoke moves" class = "center"/>
    <h2 align= "center" class="info"style = "color:white">January 11-13, 2019 </h2> 
     <h2 align= "center" class="info"style = "color:white">Corwin Pavilion</h2> 
    
		<form class = "flex-container">
			<input type="text" name="email_input" class = "input-line"    placeholder="Enter Email for Notifications" required />
			<button class='ghost-round' id = "email_submit" type = "submit">Submit</button>
        </form>

    </body>
</html>
