<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form>
			<input type="text" name="email_input" placeholder="Enter Email for Notifications" required />
			<button id = "email_submit" type = "submit">Submit</button>
		</form>
	</body>
</html>