@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

* 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body{
  background: rgb(26,36,74);
  background: linear-gradient(90deg, rgba(26,36,74,1) 21%, rgba(22,10,54,1) 100%);
  height: 100vh;
  font-size:6vw;
}
html {
  margin: 0;
  height: 100%;
}
h2 {
  font-family: roboto;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.8em;
}

h3 {
  font-family: roboto;
  font-weight: 150;
  font-size: 0.6em;
  font-family: roboto;
}
.flex-container{
  padding: 10px 0px;
  display: flex;
  align-items:center;
  justify-content:center;
}
input {
  border: none;
}


.input-line {
  width:30%;
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 0.25em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.submit {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.65);
  font-size: .25em;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 12vw;
  min-width: 60px;
  height: 2.6em;
  display: block;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.submit:focus
{
  outline: none;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.logo {
  display: block;
  background-image: url("/logo600px.png");
  background-position: center;
  width: 55vh;
  height: 55vh;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}


img
{
  margin: -.5em auto;
}

.content
{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
  width: 100vw;
  min-width: 300px;
}


$color--white: white;

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--white;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0px auto;
  box-shadow: inset 0px 0px 0px $color--white;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px transparent;
  }
}

svg {
  width: 2em;
  display: block;
  margin: 0px auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }



@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}


@media screen and (max-width: 991px) {
  /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .input-line
  {
    width: 45%;
  }
  body
  {
    font-size:50px;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .logo
  {
    width: 250px;
    height: 250px;
  }

  .input-line
  {
    width: 55%;
    font-size: 0.32em;
  }
  body
  {
    font-size: 10vw;
  }
}